<%#=form_for @user do |form|%>
<%# if @user.errors.any? %>
<%#=@user.errors.full_messages do |error| %>
<!-- <ul>
<li><%#= error %></li>
</ul>
<%# end %>
<%# end %>

<div class= "field"  ></div>
<%#=form.label :user_name%>
<%#= form.text_field :user_name, id: :user_user_name %>
</div></br>

<div class= "field"  >
<%#=form.label :email%>
<%#= form.text_field :email, id: :user_email %>
</div>

<div class= "field" %>
<%#=form.label :mobile %>
<%#= form.text_field :mobile, id: :user_mobile%>
</div>
<div class="actions">
    <%#= form.submit %>
  </div> -->
  <%# end %>